@charset "UTF-8";
/* Üldised stiilid */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.header2 h1 {
  margin: 0;
}

/* Filtreerimine */
.categories {
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.item {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.item:hover {
  background-color: #efe6ca;
  color: #333;
  cursor: pointer;
}

/* Pealkiri */
h1 {
  text-align: center;
  color: #333;
}

.container {
  padding: 0 100px;
}

/* Toodete konteiner */
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  margin: auto;
  max-width: 1200px;
}

.product-container > * {
  flex: 0 1 300px;
}

/* Toote stiil */
.product {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 300px;
}

/* Toote pealkiri */
.product h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #555;
}

/* Toote hind */
.product p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

/* Ühe toote leht */
.product-view {
  padding: 25px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.product-content {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  /* Pildi ja teksti vaheline ruum */
}

.product-image {
  flex: 1;
  max-width: 600px;
}

.product-image img {
  width: 600px;
  height: auto;
  border-radius: 8px;
}

.product-details {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 40px;
}

.product-details h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
  font-weight: bold;
}

.product-details p {
  font-size: 16px;
  color: #555;
  line-height: 1.4;
  margin: 4px 0;
}

.product-details .price {
  font-size: 20px;
  color: #1a8b1a;
  font-weight: bold;
  margin-top: 30px;
}

.product-details .inventory {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}

.product-details .buy-button {
  align-self: flex-start;
  /* Align button to the left */
  padding: 8px 16px;
  background-color: #739445;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 12px;
  transition: background-color 0.3s ease;
}

.product-details .buy-button:hover {
  background-color: #597343;
}

/* Lisa ostukorvi nupp */
.product button {
  padding: 10px 15px;
  background-color: #739445;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.product button:hover {
  background-color: #597343;
}

.product button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#product-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Ostukorvi stiil */
#cart {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

#cart h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
}

#cart p {
  font-size: 18px;
  color: #555;
}

/* Footer Styling */
.footer {
  background-color: #efe6ca;
  color: #555;
  font-family: Arial, sans-serif;
  padding: 20px 10px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-info {
  max-width: 400px;
  line-height: 1.6;
}

.contact-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.contact-info p {
  font-size: 14px;
}

.footer-bottom {
  font-size: 12px;
  color: #777;
}

#cart-items {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
}

.cart-item {
  display: contents;
}

.cart-item > * {
  text-align: center;
}

.cart-item h3,
.cart-item p {
  margin: 0;
}

.remove {
  background-color: gray;
  padding: 0;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url("bin.png");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.out-of-stock-message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: red;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */